body {
  padding: 0;
  margin: 0;
}

.flex {
  display: flex;
  .last-one {
    margin-left: auto;
  }
}

#app {
  width: 100vw;
  box-sizing: border-box;
  * {
    box-sizing: inherit;
  }
}

.dialog-footer {
  display: flex;
  justify-content: center;
}

.mb-20 {
  margin-bottom: 20px;
}
