body {
  padding: 0;
  margin: 0;
}

.flex {
  display: flex;
  .last-one {
    margin-left: auto;
  }
}

#app {
  width: 100vw;
  box-sizing: border-box;
  * {
    box-sizing: inherit;
  }
  .el-tree {
    box-sizing: content-box;
  }
}

.dialog-footer {
  display: flex;
  justify-content: center;
}

.mb-20 {
  margin-bottom: 20px;
}

// 列表页
.list-page {
  padding: 0px 20px;
}

.shadow {
  border-radius: 5px;
  box-shadow: var(--el-box-shadow-light);
}

.search-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
  padding: 20px;
  padding-bottom: 0;
  @extend .shadow;

  .el-form-item__content {
    width: 170px;
  }
}

.table-wrap {
  box-sizing: border-box;
  margin: 20px 0;
  padding: 20px;
  @extend .shadow;
}

.pagination-wrap {
  margin-top: 20px;
}